<?xml version="1.0"?>
<robot name="twip" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Wheels -->
  <gazebo reference="wheel_left_link">
    <mu1>1000000000000000.0</mu1>
    <mu2>1000000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel> <!-- what units is this??? -->
    <fdir1>1 0 0</fdir1>
    <provideFeedback>true</provideFeedback>
    <implicitSpringDamper>true</implicitSpringDamper>
    <selfCollide>true</selfCollide>
    <dynamics damping="0.1" friction="0.05" />
  </gazebo>


  <gazebo reference="wheel_right_link">
    <mu1>1000000000000000.0</mu1>
    <mu2>1000000000000000.0</mu2>
    <kp>1000000000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel> <!-- what units is this??? -->
    <fdir1>1 0 0</fdir1>
    <provideFeedback>true</provideFeedback>
    <implicitSpringDamper>true</implicitSpringDamper>
    <selfCollide>true</selfCollide>
    <dynamics damping="0.1" friction="0.05" />
  </gazebo>


  <!-- ROS 2 Control -->
  <gazebo>
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find twip_controller)/config/twip_controllers.yaml</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>
      <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
      </plugin>
    </xacro:if>

    <!-- ROS 2 Iron or above -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find twip_controller)/config/twip_controllers.yaml</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>
    </xacro:unless>
  </gazebo>

  <!-- El resto de tu configuración IMU permanece igual -->
  <gazebo reference="imu_link">
    <!-- ... tu configuración IMU existente ... -->
  </gazebo>
</robot>